{% extends "explore/base.html" %}
{% load url from future %}

{% block head_title %}Recent Chinese Picture Books submitted{% endblock %}
{% block explore_content %}
<div class="row-fluid">
    <div class="span12 explore-box">
        <h3>{{ headline }} <small>Subscribe for Updates: <a class="btn btn-small" href="{#% url 'resource_feed_rss' %#}"><i
        class="icon-rss"></i> Rss</a> <a class="btn btn-small" href="{#% url 'resource_feed_atom' %#}"><i class="icon-rss-sign"></i> Atom</a></small></h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Categories</th>
                    <th>Time(IST)</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
            {% for pdfdocument in pdfdocuments %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ pdfdocument.get_absolute_url }}">{{ pdfdocument.name }}</a></td>
                    <td>{% for category in pdfdocument.categories.all %}{% if not forloop.first %}, {% endif %}<a href="{{ category.get_absolute_url }}">{{ category.name }}</a>{% endfor %}</td>
                    <td>{{ pdfdocument.created_at }}</td>
                    <td><a href="{{ pdfdocument.created_by.get_absolute_url }}">{{ pdfdocument.created_by }}</a></td>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
